backoff==2.2.1
chart_studio==1.1.0
hdbscan==0.8.29
matplotlib==3.5.1
mysql_connector_repackaged==0.3.1
numpy==1.24.2
openai==0.27.1
pandas==1.4.2
plotly==5.6.0
scikit_learn==1.2.2
spacy==3.4.3
spacymoji==3.0.1
SQLAlchemy==1.4.32
streamlit==1.20.0
tiktoken==0.2.0
tqdm==4.64.0
umap==0.1.1
umap_learn==0.5.3
wordcloud==1.8.2.2